version: "3"

services:
  humornahuatl:
    build: ./app
    container_name: humor-nahuatl
    restart: always
    environment:
      - APP_NAME=HumorNahuatl
    expose:
      - 8080
      
  nginx:
    image: nginx
    restart: always
    ports: 
      - "80:80"
    volumes: 
      - ./chatbot:/usr/share/nginx/html:ro
