{% extends "base.html" %}

{% block content %}
<h1 class="h1-title">¡HOLA!</h1>
<p>
    Que gusto que estes por aquí.
</p>
<p>
    En nuestra comunidad de origen, <strong>Huejutla</strong>, nos dimos la tarea de 
    recolectar las palabras de la lengua indígena tal y como lo hablamos. Si quieres
    saber más sobre nosotros ingresa <a href="/contacto">aquí</a>       
</p>
<p>Te presentamos el alfabeto:</p>
<div class="container">
    <div class="div-letra-alfabeto">
        <strong>a</strong>
    </div>
    <div class="div-letra-alfabeto">
        <strong>ch</strong>
    </div>
    <div class="div-letra-alfabeto">
        <strong>e</strong>
    </div>
    <div class="div-letra-alfabeto">
        <strong>i</strong>
    </div>      
    <div class="div-letra-alfabeto">
        <strong>j</strong>
    </div>
    <div class="div-letra-alfabeto">
        <strong>k</strong>
    </div>                
    <div class="div-letra-alfabeto">
        <strong>l</strong>
    </div>
    <div class="div-letra-alfabeto">
        <strong>m</strong>
    </div>                
    <div class="div-letra-alfabeto">
        <strong>n</strong>
    </div>
    <div class="div-letra-alfabeto">
        <strong>o</strong>
    </div>                
    <div class="div-letra-alfabeto">
        <strong>p</strong>
    </div>                
    <div class="div-letra-alfabeto">
        <strong>s</strong>
    </div>
    <div class="div-letra-alfabeto">
        <strong>t</strong>
    </div>                
    <div class="div-letra-alfabeto">
        <strong>tl</strong>(tle)
    </div>
    <div class="div-letra-alfabeto">
        <strong>ts</strong>(tse)
    </div>   
    <div class="div-letra-alfabeto">
        <strong>u</strong>
    </div>           
    <div class="div-letra-alfabeto">
        <strong>x</strong>
    </div>   
    <div class="div-letra-alfabeto">
        <strong>y</strong>
    </div>                                                        
</div>
<div style="clear: left;"></div>

<h1 class="h1-title">Algunos colores</h1>
<div class="conatainer">
    <div class="color-div" style="background-color: #b9f6ca;">verde
        <br>
        <span style="font-style: italic;">xoxojtik</span>
    </div>
    <div class="color-div" style="background-color: #ff6e40;">rojo
        <br>
        <span style="font-style: italic;">chichiltik</span>            
    </div>
    <div class="color-div" style="background-color: rgba(0, 0, 0, 0.80); color: #fff;">negro
        <br>
        <span style="font-style: italic;">yayauik</span>                        
    </div>
    <div class="color-div" style="background-color: #f4ff81;">amarillo
        <br>
        <span style="font-style: italic;">kostik</span>                        
    </div>
</div>

<div style="clear: left;"></div>
<p>Ahora unas oraciones:
    <ul>
        <li>
            Pájaro negro
            <span style="font-style: italic;"> - <strong>Yayauik</strong> tototl</span>
        </li>
        <li>
            Collar rojo
            <span style="font-style: italic;"> - <strong style="color: #ff5252;">Chichiltik</strong> kostli</span>
        </li>
    </ul>
</p>
<div style="width: 100%;">
<blockquote>
    <label>Nota: </label>
    A diferencia del español el color va antes del objeto a describir,<br>
    aprende más <a href="/colores-en-nahuatl">aquí</a>
</blockquote>        
</div>

<!-- Inicio de numeros-->
<h1 class="h1-title">Contemos del uno al diez</h1>
<div class="container">
    <ol>
        <li>Se</li>
        <li>Ome</li>        
        <li>Eyi</li>        
        <li>Naui</li>        
        <li>Makuili</li>
        <li>Chikuase</li>
        <li>Chikome</li>
        <li>Chikueyi</li>
        <li>Chiknaui</li>
        <li>Majtlaktli</li>
    </ol>
    <blockquote>
        Aprende más sobre numeros <a href="/numeros-en-nahuatl">aquí</a>
    </blockquote>                
</div>
<!-- Fin de numeros-->

</div> <!--Fin de div de introduccion-->

<div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v6.0&appId=331529104039416&autoLogAppEvents=1"></script>
<div class="fb-share-button" data-href="https://humor-nahuatl.com/" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhumor-nahuatl.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
</div>


<div style="width: 90%; margin: auto; padding-top: 30px; clear: left;">
<h2 style="line-height: 28px;font-size: 22px; font-weight: 600;color: rgba(0, 0, 0, 0.80);">
 Aprende más
</h2>

<!-- Begin row 1 -->
<div class="row">

<div class="col-3 col-s-6">
    <div class="card-lesson">
        <a href="/pronombres-en-nahuatl">
        <div class="card">
            <h3 class="h3-title">
                PRONOMBRES</h3>
        </div>
        </a>
    </div>      
</div>

<div class="col-3 col-s-6">
    <div class="card-lesson">
        <a href="/adjetivos-en-nahuatl">
        <div class="card">
            <h3 class="h3-title">
                ADJETIVOS</h3>
        </div>
        </a>
    </div>      
</div>

<div class="col-3 col-s-6">
    <div class="card-lesson">
        <a href="#">
        <div class="card">
            <h3 class="h3-title">
                ADVERBIOS</h3>
        </div>
        </a>
    </div>      
</div>

<div class="col-3 col-s-6">
    <div class="card-lesson">
        <a href="#">
        <div class="card">
            <h3 class="h3-title">
                Descubrir mas</h3>
        </div>
        </a>
    </div>      
</div>

</div>

{% endblock %}